@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

:root{
    --colorA: #212121; /*lead*/
    --colorB: #F2BD12; /*gold-finger*/
    --colorC: #FFFDF7; /*eye-ball*/
    --colorD: #FCF1CC; /*hint-yellow*/
    --colorE: #FFF; /*pure-white*/
}

body{
    background-color: var(--colorC);
}





/* basic */
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--colorA);
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}

.wrapper{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;  
    display: block; 
}

.p-top{
    padding-top: 10rem;
}

.text-center{
    text-align: center;
}
.mt-4{
    margin-top: 4rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-half{
    margin-top: 0.5rem;
}

.m-auto{
    margin: auto;
}

.mt-one-half{
    margin-top: 1.5rem;
}








/* header */
.navbar{
    min-height: 14vh;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--colorB);
}

.btn{
    display: inline-block;
    padding: 0.9rem 2rem;
    background-color: var(--colorB);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--colorE);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background: var(--colorA);
}

.cart-icon{
    color: var(--colorA);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{
    position: absolute;
    top: 50%;
    right: -10px;
    font-size:0.85rem ;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--colorB);
    color: var(--colorA);
    text-align: center;
    line-height: 20px;
}

.dekstop-action .hamburger{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}










/* section */

.hero-section{
    min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card{
    flex: 1;
    flex-basis: 300px;
} 

h1{
    font-size: 5.6vw;
    color: var(--colorA);
}

span{
    color: var(--colorB);
}

p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;

}

.para{
    margin-block: 2rem;
    max-width: 550px;
}

.social-icon{
    background: var(--colorD);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: ease-in-out;
}

.social-icon:hover{
    background: var(--colorA);
    color: var(--colorE);
}

h5{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: var(--colorB);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--colorA);
}

h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--colorA);
}

.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
 .order-card{
    flex: 1;
    flex-basis: 300px;
    padding: 0 1rem 2rem 1rem;
    background: var(--colorE);
    border: 0.1rem solid var(--colorB);
    border-radius: 2rem;
    box-shadow: 
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
 }
.order-card img{
    width: 15rem;
    filter: drop-shadow(
        black 0 10px 10px
    );
}

h4{
    font-size: 1.8rem;
    color: var(--colorA);
}

.order-card .price{
    font-size: 1.7rem;
    color: var(--colorB);
    padding: 1.3rem 0 2rem 0;
}
/* cart-tab */

.cart-tab{
    background: var(--colorD);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.5) -10px -10px 20px;
    transition: 0.3s ease-in-out;
}

.cart-tab-active{
    inset: 0 0 0 auto;
}

.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
    border-top: 2px solid var(--colorC);
    border-bottom: 2px solid var(--colorC);
}

.cart-list::-webkit-scrollbar{
    width: 0;
}

.total-container{
    width: 100%;
    background: var(--colorB);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
}

.btn-container .btn{
    background: var(--colorB);

}

.btn-container .btn:hover{
    background: var(--colorA);
}

.item{
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
}

.item.slide-out{
    transform: translateX(50%);
}

.cart-list .item:nth-child(even){
    background: var(--colorC);
}

.item .details{
    flex: 2;
}

.item .item-image img{
    width: 5rem;
}

.item h4{
    font-size: 1.3rem;
    color: var(--colorA);
}

.cart-tab h3{
    border-bottom: 2px solid var(--colorB);
}

.item .item-total{
    font-weight: 400;
    margin-top: 0.3rem;
}

.quantity-btn{
    background: var(--colorA);
    color: var(--colorE);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: 0.6rem;
}

.swiper {
      width: 100%;
      height: 100%;
}

.review-container{
    width: 650px;
    max-width: 100%;
    flex: 1;
}
.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: var(--colorB);
}

.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--colorB);
    color: var(--colorA);
    text-align: center;
    line-height: 2.5rem;
}

.app-container{
    background: var(--colorD);
    padding: 3rem 6rem;
    border-radius: 3rem;
}

.app-container .content h2{
    font-size: 4.5rem;
}

.app-container .image-container img{
    width: 25rem;
}

.input-container{
    width: 43rem;
    max-width: 100%;
    background: var(--colorE);
    padding: 0.8rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 5px 8px;
    margin: 4rem auto 0 auto;
}

input[type='email']{
    flex: 1;
    height: 3vh;
    background: transparent;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 2rem;
    font-size: 1.1rem;
    padding: 1rem;
}

input[type='email']:hover{
    border: 1.5px solid rgb(91, 91, 91)
}




/* footer */

.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--colorD);
}

.footer-container .flex{
    align-items: flex-start;
}
.footer-wrapper{
    flex: 1;
    flex-basis: 150px;
}

.footer-wrapper:nth-child(1){
    flex: 2;
    flex-basis: 300px;
}
.footer-wrapper .social-icon{
    background: var(--colorE);
}

.footer-wrapper .social-icon:hover{
    background: var(--colorA);
    color: var(--colorE);
}

.footer-link{
    color: grey;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}

.footer-link:hover{
    color: var(--colorA);
}



/* media queries */

@media screen and (max-width: 788px){
    /* Header */
    .navlist,
    .dekstop-action .btn{
        display: none;
    }
    
    .dekstop-action .hamburger{
        display: block;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--colorE);
        border: 0.1rem solid var(--colorB);
        border-radius: 2rem;
        box-shadow: 
        rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        transition: all 0.5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
    
    /* section */

    h1{
        font-size: 3.6rem;
    }

    .content{
        padding-top: 3rem;
    }

    .gap-2{
        gap: 1.4rem;
    }

    .gap-4{
        gap: 4rem;
    }
     
    h2{
        font-size: 3rem;
    }

    .app-container{
        padding: 2.2rem;
    }

    .app-container .content h2{
        font-size: 3.5rem;
    }
}
